version: "3.9"

services:
  myapi:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:80"
    volumes:
      - myapp-data:/app/data
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__ANIMAL_DBConnection=Server=databas.cqi6vhlpyl9j.us-east-1.rds.amazonaws.com,1433;Database=AnimalRescue;User Id=admin;Password=FHBT38Gj.;TrustServerCertificate=True;
      - ApiSettings__BaseEndpoint=https://override-endpoint.com/api

volumes:
  myapp-data:
